@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');

@import "tailwindcss";



body {
 font-family: "Syne", sans-serif;
}

button{
  cursor: pointer;
}

html{
  scroll-behavior: smooth;
}

.dm-sans {
  font-family: "DM Sans:", sans-serif;
}

@layer utilities {
  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }
}